table {
  border-collapse: collapse;
}

thead th, thead td {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  padding: .3em .5em;
}

tbody tr:last-child th, tbody tr:last-child td {
  border-bottom: 2px solid black;
}

tbody th {
  padding: .2em 0;
}

td {
  text-align: center;
}

th a,
td a {
  text-decoration: none;
}

td.true {
  background-color: #6c0;
}

div.preview {
  position: absolute;
  padding: 4px;
  border: 1px solid #d9d8d1;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .8);
}
