table {
  border-collapse: collapse;
}

table a {
  color: black;
}

thead th, thead td {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  padding: .3em .5em;
  width: 8em;
  background-color: white;
}

tbody tr:last-child th, tbody tr:last-child td {
  border-bottom: 2px solid black;
}

tbody th {
  padding: .2em 0;
  width: 12em;
}

tbody td {
  border: 1px solid white;
  width: 9em;
}

td {
  text-align: center;
}

th a,
td a {
  text-decoration: none;
}

tbody td a {
  display: block;
}

td.true {
  background-color: #66c285;
}

td.true:hover {
  background-color: #75d295;
}

td.false {
  background-color: #e08566;
}

td.false:hover {
  background-color: #f09576;
}

td.unknown {
  font-weight: bold;
  background-color: rgba(0, 0, 255, .3);
}

td.unknown:hover {
  background-color: rgba(0, 0, 255, .2);
}

td[data-tag] a {
  background-image: url('/~pbelmans/stacks-table/stacks-transparent-gray.png');
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 16px;
  background-size: 16px;
}

div.tooltip {
  position: absolute;
  padding: 4px;
  border: 1px solid #d9d8d1;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, .8);
}
